<% include ../header %>
<header>
  <h1>Nmessage</h1>
  <h4>Bem-Vindo!</h4>
</header>
<section id="login">
  <form action="/login" method="POST">
    <input type="text" name="nome" placeholder="Seu nome" />
    <br />
    <input type="text" name="email" placeholder="Seu email" />
    <br />
    <button type="submit">Entrar</button>
  </form>
</section>
<% include ../footer %>