<% include ../header %>
  <header>
    <h2>Nmessage- Editarcontato</h2>
  </header>
  <section>
    <formaction=" /contato/<%-id %>"method="post">
      <input type="hidden" name="_method" value="put"><label>Nome:</label>
      <input type="text" name="contato[nome]" value="<%-contato.nome%>"><label>E-mail:</label>
      <input type="text" name="contato[email]" value="<%-contato.email%>">
      <buttontype="submit">Atualizar</button>
        </form>
  </section>