<% include ../header%>
  <header>
    <h2>Ntalk- Agenda de contatos</h2>
  </header>
  <section>
    <p>
      Bem-vindo <strong><%- usuario.nome%></strong>
    </p>
  </section>
<% include ../exit%>
<% include ../footer%>